body{
	font-size:15px;
	color: #F1DFF9 ;
	background-color: #581845;
}
/**HEADER**/


#header-nav{
	background-color:#BE47D6     ;
	border-radius: 0;
	border: 0;
	background:relative;
}

#logo-img{
	background:url('../images/logolarge.png') no-repeat;
	background-size: cover;
	width:150px;
	height: 150px;
	margin: 10px 15px 10 px 0;
}

.navbar-brand{
	padding-top: 25px;
	margin-right: 30px;
}
.navbar-brand h1{
	font-family: 'lora',serif;
	color:#EEF81F;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}
.navbar-brand a:hover,.navbar-brand a:focus{
	text-decoration: none;
}
.navbar-brand p span{
	/*kosher cert**/
	color: #000;
	text-transform: uppercase;
	font-size: .75em;
	margin-top: 15px;
}
.navbar-brand p span{
	vertical-align: middle;
}
#nav-list{
	margin-top: 10px;
}
#nav-list a{
	color: #FAFA09;
	text-align: center;
}
#nav-list a:hover{
	background: #581845;
}
#nav-list a span{
	font-size: 1.8em;
}
#nav-list a div{
	font-size: 2em;
	margin-top: 0px;
}
#phone{
	margin-top: 5px;
}
#phone div{
	/** we deliver**/
	color: #fff;
	text-align: right;
	padding-right: 15px;
}
.navbar-header button.navbar-toggle,.navbar-header .icon-bar{
	border:1px solid #61122f;
}
.navbar-header button.navbar-toogle{
	clear: both;
	margin-top: -30px;
}
/**end header**/
/*home page */
.container .jumbotron{
	box-shadow: 0 0 50px #3F0C1F;
	border: 2px solid #3F0C1F;
	margin-bottom: 25px;
	padding-bottom: 50px;\q
}
#menu-tile,#special-tile,#map-tile,#online1,#online2,#online3{
	height: 250px;
	width: 100%;
	margin-top: 25px;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
}
#menu-tile:hover,#special-tile:hover,#map-tile:hover,#online1:hover,#online2:hover,#online3:hover{
	box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile{
	background:url('../images/menu.jpg') no-repeat;
	background-position: center;
	background-size: cover;
}
#special-tile{
	background:url('../images/special.jpg');
	background-position: center;
	background-size: cover;
}
#online1{
	background:url('../images/swiggy.jpg');
	background-position: center;
	background-size: cover;
}
#online2{
	background:url('../images/zomato.png');
	background-position: center;
	background-size: cover;
}
#online3{
	background:url('../images/foodpanda.jpg');
	background-position: center;
	background-size: cover;
}

#menu-tile span,#special-tile span,#map-tile span,#online1 span,#online2 span,#online3 span{
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .7;
}
/** footer **/
.panel-footer{
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color :#1B1A1C  ;
	border-top: 0;
}
.panel-footer div.row{
	margin-bottom: 35px;
}
#hours,#adress{
	line-height: 2;
}
#hours>span,#adress>span{
	font-size: 1.3em;
}
#adress p{
	color: #557c3e;
	font-size: .8em;
	line-height: 1.8
}
/**end footer**/
/****large device*****/
@media(min-width: 1200px){
	.container .jumbotron{
		
		height: 675px;
	}
	#logo-img{
		background:url('../images/logo150.png') no-repeat;
		background-size: cover;
		width: 120px;
		height:120px;
		margin:5px 5px 5px 0;
	}
}
/******medium device only*****/
@media(min-width: 992px) and (max-width: 1199px){
	/**header**/
	#logo-img{
		background:url('../images/logo100.png') no-repeat;
		width: 100px;
		height:100px;
		margin:5px 5px 5px 0;
	}
	/***header end **/
	/**** home page***/
	.container .jumbotron{
		height: 558px;
	}
}
/***small device only****/
@media(min-width:768px) and (max-width: 991px){
	#logo-img{
		background:url('../images/logolarge.png') no-repeat;
		background-size: cover;
		width: 150px;
		height:150px;
		margin:5px 5px 5px 0;
	}

}
/****** extra small dexice only***/
@media(max-width: 767px){
	/**header***/
	.navbar-brand{
		padding-top: 10px;
		height: 80px;

	}
	.navbar-brand h1{
		padding-top: 10px;
		font-size: 5vw;
	}
	.navbar-brand p{
		font-size: .6em;
		margin-top: 12px;
	}
	.navbar-brand p img{
		height: 20px;

	}
	#collapsable-nav a span {
		font-size: 1em;
		margin-right: 5px;
	}
	#call-btn>a{
		font-size: 1.5em;
		display: block;
		margin: 0 20px;
		padding: 10px;
		border: 2px solid #fff;
		background-color: #f6b319;
		color:#951c49;
	}
	#xs-deliver{
		margin-top: 5px;
		font-size: .7em;
		letter-spacing: .1em;
		text-transform: uppercase;
		color: #fff;
	}
	#logo-img{
		background:url('../images/logo80.png') no-repeat;
		width: 80px;
		height:80px;
		margin:2px 2px 2px 2px;
	}
	/*****footer***/
	.panel-footer section{
		margin-bottom: 30px;
		text-align: center;

	}
	.panel-footer section hr{
		width: 50%;
	}
	/***home page***/
	.container .jumbotron{
		margin-top: 30px;
		margin-bottom: 30px;
		padding: 0;

	}
    #menu-tile,#specials-tile,#online1,#online2,#online#{
    	margin: 15 px auto 15px;

    }
    .menu-item-photo{
    	margin-right:auto;
    }
}
.quote{
	font-size: .75em;
	padding-bottom: 30px;
}
/*******menu*****/.menu-item-tile {
  margin-bottom: 25px;
}
#menu-categories-title{
	font-family: 'Bangers', cursive;
	letter-spacing: .1em;
}
.menu-item-tile hr {
  width: 80%;
}
.menu-item-tile .menu-item-price {
  font-size: 1.1em;
  text-align: right;
  margin-top: -15px;
  margin-right: -15px;
}
.menu-item-tile .menu-item-price span {
  font-size: .6em;
}
.menu-item-photo {
  position: relative;
  border: 2px solid #3F0C1F; 
  overflow: hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 250px;
}
.menu-item-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #557c3e;
  text-align: center;
}
.menu-item-description {
  padding-right: 30px;
}
h3.menu-item-title {
  margin: 0 0 10px;
}
.menu-item-details {
  font-size: .9em;
  font-style: italic;
}